# Java / Maven
*.class

# Maven build
/target/
**/target/

# IDEs
.idea/
*.iml
.project
.classpath
.settings/
out/

# Logs
*.log
logs/

# Packages / Artifacts
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
snake-the-game/launcher/target/SnakeTheGame.exe
snake-the-game/launcher/target/*.jar

# OS files
.DS_Store
Thumbs.db

# JVM crash logs
hs_err_pid*
replay_pid*
